/* ========== VAR ========== */
:root {
  --primary-color: #4d5ae5;
  --pressed-color: #404bbf;
  --dark-color: #2e2f42;
  --primary-text-color: #434455;
  --subtle-text-color: #8e8f99;
  --white: #ffffff;
  --accent-color: #e7e9fc;
  --light-background-color: #f4f4fd;
  --primary-font: 'Roboto', sans-serif;
}
/* ========== /VAR ========== */

/* ========== COMMON ========== */
* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--primary-text-color);
  background-color: var(--white);
}

.container {
  max-width: 1134px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 156px;
  margin-right: 156px;
}

.container .list {
  display: flex;
  gap: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.team {
  background-color: var(--light-background-color);
}

.hero {
  height: 600px;
  background-color: var(--dark-color);
}
/* ========== /COMMON ========== */

/* ========== NAVIGATION ========== */
.site-nav {
  font-weight: 500;
}

.link-to {
  color: var(--dark-color);
}

.link-to:hover,
.link-to:focus {
  color: var(--pressed-color);
}

/* 
Поки видаляюю, бо з ним не проходять тести
#active-page {
  color: var(--primary-color);
} */
/* ========== /NAVIGATION ========== */

/* ========== LOGO ========== */
.site-logo {
  text-decoration: none;
  color: var(--primary-color);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.034em;
  text-transform: uppercase;
}

.second-color-header {
  color: var(--dark-color);
}

.second-color-footer {
  color: var(--light-background-color);
}
/* ========== /LOGO ========== */

/* ========== ADDRESS ========== */
.company-contacts {
  font-style: normal;
}

.contact:hover,
.contact:focus {
  color: var(--pressed-color);
}

.contact {
  color: var(--primary-text-color);
}

.contact:hover,
.contact:focus {
  color: var(--pressed-color);
}
/* ========== /ADDRESS ========== */

/* ========== HEADERS ========== */
.display-header {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.07em;
}

.section-header {
  color: var(--dark-color);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.045em;
  text-transform: capitalize;
}

.benefit-header,
.teammate-name,
.project-name {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.025em;
}
/* ========== /HEADERS ========== */

/* ========== BUTTONS ========== */
button {
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  border: none;
}

.cta-button {
  /* Button Frame */
  display: block;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  margin: 0 auto;
  background-color: var(--primary-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  /* Button Text */
  color: var(--white);
}

.cta-button:hover,
.cta-button:focus {
  background-color: var(--pressed-color);
}

.filter-button {
  /* Button Frame */
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--accent-color);
  background-color: var(--light-background-color);
  /* Button Text */
  color: var(--primary-color);
}

.filter-button:hover,
.filter-button:focus {
  border: none;
  color: var(--white);
  background-color: var(--pressed-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
/* ========== /BUTTONS ========== */

/* ========== CARDS ========== */
.teammate {
  background-color: var(--white);
  text-align: center;
}

.list .project {
  border: 1px solid var(--cornflower, #e7e9fc);

  background: var(--white);
}

.project-category {
  color: var(--primary-text-color);
}
/* ========== /CARDS ========== */

/* ========== HEADER ========== */
.site-header .container {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

.site-nav,
.site-nav .list,
.company-contacts .list {
  display: flex;
  gap: 40px;
}

.site-nav:first-child {
  gap: 76px;
}

/* ========== /HEADER ========== */

/* ========== HERO ========== */
.hero .container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.container .display-header {
  padding-top: 188px;
}
/* ========== /HERO ========== */

/* ========== BENEFITS ========== */
.card-benefit {
  max-width: 264px;
}

.benefits .container {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* ========== /BENEFITS ========== */

/* ========== SERVICES ========== */
.our-doing .container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  padding-bottom: 120px;
}
/* ========== /SERVICES ========== */

/* ========== TEAM ========== */
.team .container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.teammate-name {
  padding-top: 32px;
}

.teammate-position {
  padding-bottom: 32px;
}
/* ========== /TEAM ========== */

/* ========== PORTFOLIO ========== */
.container .list {
  display: flex;
}

.list.filter {
  padding-top: 96px;
  padding-bottom: 72px;
  margin-left: 271px;
}

.list.projects {
  flex-wrap: wrap;
  padding-bottom: 120px;
}

.project-name {
  padding-top: 32px;
  padding-left: 16px;
}

.project-category {
  padding-bottom: 32px;
  padding-left: 16px;
}

/* ========== /PORTFOLIO ========== */

/* ========== FOOTER ========== */
.site-footer {
  background-color: var(--dark-color);
}

.footer-slogan {
  color: var(--light-background-color);
  max-width: 264px;
}

.site-footer .container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 100px 0;
}
/* ========== /FOOTER ========== */
